@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
}

/* ---------- Typography Defaults ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

p {
  font-family: var(--font-family);
}

:root {
  --color-bg: var(--theme-bg);
  --color-bg-secondary: var(--theme-bg-secondary);
  --color-bg-ternary: var(--theme-bg-ternary);

  --color-text-primary: var(--theme-text-primary);
  --color-text-secondary: var(--theme-text-secondary);
  --color-text-muted: var(--theme-text-muted);

  --color-accent: var(--theme-accent);

  font-family: "Inter", sans-serif;
}

:root[data-theme="white"] {
  --theme-bg: white;
  --theme-bg-secondary: #62a0c9;
  --theme-bg-ternary: #62a0c9;

  --theme-text-primary: #62a0c9;
  --theme-text-secondary: #62a0c9;
  --theme-text-muted: #62a0c9;

  --theme-accent: #f95831;
}
