@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: clamp(0.95rem, 1.2vw, 1.1rem);
  line-height: var(--line-height-normal);
  color: var(--color-text-secondary);
  background-color: var(--color-bg);
}

/* ---------- Typography Defaults ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

p {
  font-family: var(--font-family);
}

:root {
  --color-bg: var(--theme-bg);
  --color-bg-secondary: var(--theme-bg-secondary);
  --color-border: var(--theme-border);

  --color-text-primary: var(--theme-text-primary);
  --color-text-secondary: var(--theme-text-secondary);
  --color-text-muted: var(--theme-text-muted);

  --color-accent: var(--theme-accent);
}

:root[data-theme="white"] {
  --theme-bg: #f5f5f5;
  --theme-bg-secondary: #172726;
  --theme-border: #e2e2e2;

  --theme-text-primary: #172726;
  --theme-text-secondary: #243f3d;
  --theme-text-muted: #476664;

  --theme-accent: #f95831;
}

:root[data-theme="dark"] {
  --theme-bg: #1c1c1c;
  --theme-bg-secondary: #111111;
  --theme-border: #262626;

  --theme-text-primary: #f2f2f2;
  --theme-text-secondary: #bfbfbf;
  --theme-text-muted: #8c8c8c;

  --theme-accent: #ffffff;
}
